.main {
  padding: 20px;
}

@keyframes rotateCircle {
  0% {
    transform: rotate3d(0, 1, 0, 0);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  p {
    text-align: center;
    margin-bottom: 20px;
  }

  & > div {
    margin: 20px;
  }

  .single {
    width: 200px;
    height: 200px;
    background: url("~@/assets/1.png"), #00ffff;
    background-size: 100% 100%;
    background-blend-mode: lighten;
  }

  .singleAfter {
    width: 200px;
    height: 200px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      margin-left: 10px;
      width: 200px;
      height: 200px;
      background: url("~@/assets/1.png"), #f00;
      background-size: 100% 100%;
      background-blend-mode: lighten;
      mix-blend-mode: darken;
    }
  }

  .mix {
    width: 200px;
    height: 200px;
    background: url("~@/assets/1.png"), #00ffff;
    background-size: 100% 100%;
    background-blend-mode: lighten;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      margin-left: 10px;
      width: 200px;
      height: 200px;
      background: url("~@/assets/1.png"), #f00;
      background-size: 100% 100%;
      background-blend-mode: lighten;
      mix-blend-mode: darken;
    }
  }

  .mixGif {
    width: 200px;
    height: 200px;
    background: url("~@/assets/3.gif"), #00ffff;
    background-size: 100% 100%;
    background-blend-mode: lighten;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      margin-left: 10px;
      width: 200px;
      height: 200px;
      background: url("~@/assets/3.gif"), #f00;
      background-size: 100% 100%;
      background-blend-mode: lighten;
      mix-blend-mode: darken;
    }
  }

  .mixDiffBasic {
    position: relative;
    width: 322px;
    height: 357px;
    background: url("~@/assets/2.png");
    background-size: cover;

    &::before {
      content: '';
      position: absolute;
      top: 215px;
      left: 90px;
      width: 120px;
      height: 96px;
      background: url("~@/assets/3.gif");
      background-size: cover;
    }
  }

  .mixDiffWhite {
    .mixDiffBasic;

    &::before {
      mix-blend-mode: color-dodge;
      filter: invert(1) contrast(3);
    }
  }

  .mixDiff {
    .mixDiffBasic;

    &::before {
      background: url("~@/assets/3.gif"), #000;
      mix-blend-mode: multiply;
      filter: contrast(3);
    }
  }

  .unbelievableText {
    background: url("~@/assets/3.gif") center/cover;
    background-size: cover;
    filter: grayscale(1) invert(1);
    mix-blend-mode: hard-light;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: 300px;
    overflow: hidden;
    font-size: 10px;
  }

  .stage {
    perspective: 800px;
  }

  .carousel {
    display: flex;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
    height: 250px;
    animation: rotateCircle 10s infinite linear;
    margin: 200px;
    animation-play-state: running;

    &:hover {
      animation-play-state: paused;
    }



    & > div {
      background: black;
      color: white;
      position: absolute;
      width: 150px;
      height: 250px;
      margin: 0 10px;
      left: 50%;
      top: 0;

      div {
        width: 100%;
        height: 100%;
        background: url("~@/assets/3.gif") center/cover;
        font-size: 8px;
        overflow: hidden;
        filter: grayscale(1) invert(1);
        mix-blend-mode: hard-light;
        color: transparent;
        background-clip: text;
      }
    }

    & > div:nth-child(1) {
      transform: translateX(-75px)  translateZ(150px);
    }

    & > div:nth-child(2) {
      transform: translateX(75px) translateZ(75px) rotate3d(0, 1, 0, 60deg) ;
    }

    & > div:nth-child(3) {
      transform: translateX(75px) translateZ(-75px) rotate3d(0, 1, 0, 120deg);
    }

    & > div:nth-child(4) {
      transform: translateX(-75px) translateZ(-150px) rotate3d(0, 1, 0, 180deg);
    }

    & > div:nth-child(5) {
      transform: translateX(-225px) translateZ(-75px) rotate3d(0, 1, 0, 240deg);
    }

    & > div:nth-child(6) {
      transform: translateX(-225px) translateZ(75px) rotate3d(0, 1, 0, 300deg);
    }
  }
}
